<% provide(:title, "REST basics") %>
<h1>REST basics</h1>
<p>REST (<strong>RE</strong>presentational <strong>S</strong>tate <strong>T</strong>ransfer) is a software architecture used to develop how an application's client communicates with a server and vice versa. It is mainly used to develop <em>Web Aplication Interface Programs (Web APIs)</em>, and any API that follows this architecture is known as a RESTful API.</p> 

<h2>Resources</h2>
<h3>What is a REST resource?</h3>
<p>In the context of REST, a resource is a description of a web entity, which can be a document, a video, a music file, an image, or any other type of data that can be stored.</p>

<h3>What can you do with a REST resource?</h3>
A REST resource can be manipulated with the basic CRUD (Create, Read, Update, Delete) operations.

<h2>RESTful Routing</h2>
<h3>What is RESTful routing?</h3>
<h3>Actions</h3>
