<% provide(:title, "Git basics") %>
<h1>Git basics</h1>

<h2>Starting a new repository</h2>
<p></p>

<h2>Creating a new branch</h2>
<p></p>

<h2>Making a new commit, saving all current changes</h2>
<p></p>

<h2>Pushing your code to a remote repository (GitHub, GitLab, BitBucket, etc.)</h2>
<p></p>

<h2>Configuring the "origin" remote repository</h2>
<p></p>

<h2>git reset VS git revert</h2>
<p></p>

<h2>git checkout</h2>
<p></p>

<h2>git log</h2>
<p></p>

<h2>Commiting specific files</h2>
<p></p>
