<% provide(:title, "Home") %>
<h1>Home</h1>
<p>Current time: <%= Time.now.ctime %> </p>
<ul>
  <li><%= link_to "Basics of REST", "/static_pages/basics" %></li>
  <li><%= link_to "Basics of Ruby", "/static_pages/ruby" %></li>
  <li><%= link_to "Basics of Git", "/static_pages/git" %></li>
</ul>
